/* Styles containers on each page for a simple appearance and ensures that the content adheres to margins */
.my-container {
    margin-top: 20px;
    font-size: 22px;
}

h1 {
    margin-top: 20px;
}

.rounded {
    width: 35%;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
/* Styles picture on About Me page, which is fits in different screen formats */
img {
    margin-bottom: 15px;
}

.form-group {
    max-width: 500px;
    margin: auto;
}