p {
    font-size: 32px;
    line-height: 1.5em;
}

h1 {
    text-align: center;
}
.text-center {
    /* Contact Me and Email link */
    font-size: 30px;
    font-style: normal;
    line-height: 1.5em;
    padding: 5px;
}

.row {
    /* Fits the content boxes more in the center of the page, but not entirely. Used DevTools to center temporarily */
    margin-left: 161px;
    margin-right: -23px;
}

img {
    width: 300px;
    height: 300px;
    float: left;
}


.btn-primary {
    /* manually moved the button using DevTools. margin-left: auto; and margin-right: auto; did not seem to center it. */
    margin-left: 624px;
    margin-right: auto;
}

h2 {
    text-align: center;
}